body
{
  color: #06283D;
  background-color: #256D85;
}

.header
{
  font-family: Arial;
  display: flex;
  min-height: 70px;
  background: #47B5FF;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-width: 0px;
}

a
{
  text-decoration: none;
  color: #DFF6FF;
  padding: 5px;
}

.titulo
{
  text-align: center;
  font-size: 75px;
}

img
{
  width: 100%;
  align-items: baseline;
  height: auto;
  border-radius: 10px;
}

.imagenes
{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
  transition: 1s;
}

.imagenes img:hover
{
  filter: blur(100%);
  transform: scale(1.1);
}
